.container {
  padding: 2rem;
}

.header {
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  color: #494b50;
}

.subtitle {
  font-size: 1.125rem;
  color: #9ca3af;
}
